<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Automation Master Suite" verbose="1">

    <listeners>
        <listener class-name="listeners.ExtentTestListener"/>
    </listeners>

    <suite-files>
        <suite-file path="test-suites/place.xml"/>
        <suite-file path="test-suites/post.xml"/>
    </suite-files>

</suite>